@import "../style/stylesheet.scss";
@import "./MainPage/Header.scss";
@import "./MainPage/Services.scss";
@import "./MainPage/Contact.scss";
@import "./MainPage/ModalWindow.scss";
@import "./MainPage/Slider.scss";

@import "../style/PageAbout/PageAbout.scss";


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

