@import "../stylesheet.scss";


@keyframes header_bg_animation {
    0% {
        background: url("@/img/main_header-1.jpg") no-repeat;
        background-position: 30% 20%;
        background-size: cover;
    }

    33% {
        background: url("@/img/main_header-2.jpg") no-repeat;
        background-position: 30% 20%;
        background-size: cover;

    }

    66% {
        background: url("@/img/main_header-4.jpg") no-repeat;
        background-position: 30% 20%;
        background-size: cover;
    }

    100% {
        background: url("@/img/main_header-1.jpg") no-repeat;
        background-position: 30% 20%;
        background-size: cover;
    }
}

.header__bg {
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("@/img/main_header-4.jpg") no-repeat;
    // animation: header_bg_animation 15s infinite;
    background-position: 30% 20%;
    background-size: cover;
    // opacity: .85;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    background-color: transparent;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


    .header__menu {
        width: 100%;
        padding: 0 20px;


        ul {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 5vh;
            height: 10vh;


            li {
                list-style: none;
                transition: all 0.3s ease;

                &:hover {
                    transform: translateY(-5px);
                }

                .header__menu-link {
                    text-decoration: none;
                    color: #F9F8CF;
                    font-family: "Roboto-Regular";
                    font-weight: 100;
                    letter-spacing: 3px;
                }
            }
        }
    }
}


.burger__wrapper {
    display: flex;
    width: 100%;
    background-color: white;


    .burger__line {
        width: 100px;
        background-color: white;
    }
}



.header__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    margin-top: 30%;
    width: 100%;


    .header__h2 {
        width: 15em;
        color: #F9F8CF;
        font-size: 2.5em;
        font-family: "Roboto-Medium";
        font-weight: 300;
        padding: 10px;
    }
}



@media (max-width: 1100px) {
    .header__content {
        margin-top: 45%;
    
        .header__h2 {
            // font-size: 2em;
            // transform: translateY(100%);
            transition: all .3s ease;
        }
    }
}


@media (max-width: 900px) {
    .header__content .header__h2 {
        font-size: 36px;
        width: 100%;
    }
}



@media (max-width: 775px) {
    .header__content .header__h2 {
        font-size: 30px;
        margin-top: 10%;
    }
}


@media (max-width: 600px) {
    .header__bg {
        // background-position: 30% 40%;
    }

    .header__content .header__h2 {
        font-size: 30px;
        margin-top: 20%;
        // padding: 20px;
    }
}


@media (max-width: 560px) {
    .header__bg {
        // background-position: 50% 40%;
        transition: all .3s ease;
    }


    .header__content .header__h2 {
        font-size: 30px;
        margin-top: 40%;
        // padding: 20px;
    }
}


@media (max-width: 390px) {
    .header__content .header__h2 {
        font-size: 30px;
        margin-top: 60%;
        // padding: 20px;
    }
}