@keyframes bgAnimated {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 50% 70%;
    }

    100% {
        background-position: 0% 0%;
    }
}


@keyframes underscore-read-more_button {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


.no-scroll {
    overflow-y: hidden;
}


.services__wrapper {
    // background-color: #2A6453;
    background: rgb(89,75,51);
    background: linear-gradient(135deg, rgba(89,75,51,1) 12%, rgba(112,94,64,1) 37%, rgba(42,100,83,1) 63%, rgba(32,77,64,1) 88%);
    background-size: 200% 200%;
    animation: bgAnimated 5s infinite alternate;

    // background: rgb(89,75,51);
    // background: linear-gradient(135deg, rgba(89,75,51,1) 5%, rgba(112,94,64,1) 25%, rgba(42,100,83,1) 75%, rgba(32,77,64,1) 95%);
}

.services__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    z-index: 10;
    // overflow-y: hidden;

    .services__h2 {
        margin: 3em auto;
        color: #b2b2b2;
        font-family: "Roboto-Regular";
        letter-spacing: 3px;
        font-size: 30px;
    }

    .services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 21vh;
    }

    .service__item-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 370px;
        height: 30em;
        // overflow-y: hidden;
        background-color: #22443A;
        transition: all 0.3s ease;
        border: 3px #b2b2b2 solid;
        border-radius: 5px;

        .service__item-image {
            width: 60%;
            // height: 100%;
            margin: 0 auto;
            padding: 7px 7px 0px 7px;
            border-radius: 10px;
            transition: transform .3s ease;
            // background-size: contain;
            // background-repeat: no-repeat;
        }

        .service__item-image:last-child {
            width: 20%;
        }

        .read-more__button {
            position: relative;
            display: none;
            text-decoration: none;
            font-size: 16px;
            color: #b2b2b2;
            margin-top: 5px;
            font-family: "Roboto-Medium";
        }

        .service__item-h3 {
            margin: 20px auto;
            color: #b2b2b2;
            font-size: 24px;
            font-family: "Roboto-Medium";
            transition: transform 0.3s ease
        }

        .service__item-description {
            position: absolute;
            padding: 10px;
            font-size: 20px;
            font-family: "Roboto-Light";
            color: #b2b2b2;
            transform: translateY(27rem);
            opacity: 0;
            transition: transform 0.3s ease;
            letter-spacing: 1px;
        }

        &:hover {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            gap: 10px;
            border: 3px solid white;
            background-color: transparent;
            transition: all 0.3s ease;
        }

        &:hover .read-more__button {
            display: block;
        }

        &:hover .read-more__button:hover::after {
            animation: underscore-read-more_button alternate 0.3s;
            content: "";
            position: absolute;
            width: 100%;
            background-color: #22443A;
            bottom: -5px;
            left: 0;
            height: 2px;
        }

        &:hover .service__item-description {
            position: relative;
            transform: translateY(0);
            transition: transform 0.3s ease;
            opacity: 1;
        }

        &:hover .service__item-h3 {
            font-size: 20px;
            transform: translate(10px, -150px);
        }

        &:hover .service__item-image {
            transition: transform .3s ease;
            transform: translate(-8em, 3em);
            width: 30%;
        }
    }
}


@media (max-width: 890px) {
    .services__content .service__item-wrapper {
        gap: 10px;
    }

    .services__content .service__item-wrapper .service__item-image {
        transition: transform 0.3s ease;
        transform: translate(-8em, 3em);
        width: 30%;
    }

    .services__content .service__item-wrapper .service__item-h3 {
        font-size: 20px;
        transform: translate(10px, -150px);
    }


    .services__content .service__item-wrapper .service__item-description {
        position: relative;
        transform: translateY(0);
        transition: transform 0.3s ease;
        opacity: 1;
    }

    .services__content .service__item-wrapper .read-more__button {
        display: block;
    }
}


@media (max-width: 320px) {
    // .services__content .service__item-wrapper {
        
    // }
}